.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
h3 {
  margin-right: 10px;
  width: 100%;
  /* border: 2px solid black; */
  /* text-align: center; */
  padding-left: 10%;
}
.results {
  width: 100%;
  /* border: 2px solid black; */
  padding-left: 10%;
}
.TextField {
  margin-left: 10%;

  font-weight: bold;
}
